@model TeendokListaWeb.Models.feladat

@{
    ViewBag.Title = "Részletek";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Feladat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.szoveg)
        </dt>

        <dd>
            @Html.Raw(Model.szoveg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.letrehozas_datum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.letrehozas_datum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.teljesitve)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teljesitve)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.felhasznalo.felhasznalonev)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.felhasznalo.felhasznalonev)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Szerkesztés", "Szerkesztes", new { id = Model.id }) |
    @Html.ActionLink("Vissza a listához", "Index")
</p>
